version: '3.9'

services:
  frontend:
    build: ./frontend
    container_name: ecommerce-frontend
    ports:
      - "5173:3000"
    environment:
      - REACT_APP_BACKEND_URL=http://13.204.23.20:4000
    depends_on:
      - backend

  admin:
    build: ./admin
    container_name: ecommerce-admin
    ports:
      - "5174:5000"
    environment:
      - REACT_APP_BACKEND_URL=http://13.204.23.20:4000
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: ecommerce-backend
    ports:
      - "4000:4000"
    environment:
      - MONGO_URL=mongodb+srv://ForeverClothes:ForeverClothes1234@cluster0.d8nqavb.mongodb.net
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: ecommerce-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
